<%= form_for(@commitment) do |f| %>
<% if @commitment.errors.any? %>
<div id="error_explanation">
        <h2><%= pluralize(@commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

        <ul>
                <% @commitment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
        </ul>
</div>
<% end %>

<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <%= f.label :title %>
        </div>
        <div class="col-md-8">
                <%= f.text_area :title, :placeholder => "commitment input", :rows => "3", class:"form-control"%>
        </div>
        <div class="col-md-1"></div>
</div>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <%= f.label :is_completed %><br>
        </div>
        <div class="col-md-8">
                <%= f.check_box :is_completed %>
        </div>
        <div class="col-md-1"></div>
</div>
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <%= f.label :due_date %><br>
        </div>
        <div class="col-md-8">
                <%= f.date_select :due_date %>
        </div>
        <div class="col-md-1"></div>
</div>
 <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <%= f.label :status %><br>
        </div>
        <div class="col-md-8">
                <% options = [["Doing", "D"],  ["Success", "S"], ["Failure", "F"]] %>
                <% selected_status =  @commitment.status.nil? ? "D" : @commitment.status %>
                <% disable_options = ["S", "F", "D"].reject{|str| str == selected_status} %>
                <%= f.select :status, options, :disabled => disable_options %>
        </div>
        <div class="col-md-1"></div>
</div>
 <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
                <div class="actions">
                        <%= f.submit :class => "btn btn-primary" %>
                </div>
        </div>
</div>
<% end %>
