<!-- progress bar -->
<% today = Date.today %>
<% today_commitments = @commitments.select{|comm| comm['due_date'] == today} %>
<% today_completed_commitments = today_commitments.select{|comm| comm['is_completed'] == true}%>
<% current_progress =  today_commitments.count == 0 ? 0 : 100 * today_completed_commitments.count / today_commitments.count %>
<%= bootstrap_progress_bar(current_progress, :color => 'success', :striped => true, :active => true) %>
<!-- end of progress bar -->

<%= button_to 'New Commitment', new_commitment_path, class:"btn btn-primary" %>

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Today</a></li>
    <li><a href="#">Yesterday</a></li>
    <li><a href="#">All</a></li>
    <li><%= link_to_function "Greeting", "alert('Hello world!')" %></li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="hidden-xs"></th>
            <th class="hidden-xs">Commitment</th>
            <th class="hidden-xs">Due Date</th>
            <th class="hidden-xs">Status</th>
            <th class="hidden-xs"></th>
            <th class="hidden-xs"></th>
            <th class="hidden-xs"></th>
        </tr>
    </thead>

    <tbody>
        <% @commitments.sort {|a, b| b.due_date <=> a.due_date}.each do |commitment| %>
        <tr>
            <td style="text-align:center"><%= check_box('commitment', 'is_completed', :checked => commitment.is_completed, :disabled => true) %></td>
            <td><%= commitment.title %></td>
            <td><%= commitment.due_date %></td>
            <% if commitment.status == 'S' %>
            <td><span class="glyphicon glyphicon-ok"></span></td>
            <% elsif commitment.status == "F" %>
            <td><span class="glyphicon glyphicon-remove"></span></td>
            <% else %>
            <td><span class="glyphicon glyphicon-question-sign"></span></td>
            <% end %>
            <td><%= link_to 'Show', commitment, class:"btn btn-info btn-sm" %></td>
            <td><%= link_to 'Edit', edit_commitment_path(commitment), class:"btn btn-warning btn-sm" %></td>
            <td><%= link_to 'Delete', commitment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
        </tr>
        <% end %>
    </tbody>
</table>

