<%= link_to 'New Commitment', new_commitment_path, class:"btn btn-primary" %>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="hidden-xs">Is Completed</th>
            <th class="hidden-xs">Title</th>
            <th class="hidden-xs">Due Date</th>
            <th class="hidden-xs">Status</th>
            <th class="hidden-xs"></th>
            <th class="hidden-xs"></th>
            <th class="hidden-xs"></th>
        </tr>
    </thead>

    <tbody>
        <% @commitments.each do |commitment| %>
        <tr>
            <td><%= check_box('commitment', 'is_completed', :checked => commitment.is_completed, :disabled => true) %></td>
            <td><%= commitment.title %></td>
            <td><%= commitment.due_date %></td>
            <% if commitment.status == 'S' %>
            <td><span class="glyphicon glyphicon-ok"></span></td>
            <% elsif commitment.status == "F" %>
            <td><span class="glyphicon glyphicon-remove"></span></td>
            <% else %>
            <td><span class="glyphicon glyphicon-question-sign"></span></td>
            <% end %>
            <td><%= link_to 'Show', commitment, class:"btn btn-info btn-sm" %></td>
            <td><%= link_to 'Edit', edit_commitment_path(commitment), class:"btn btn-warning btn-sm" %></td>
            <td><%= link_to 'Delete', commitment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
        </tr>
        <% end %>
    </tbody>
</table>

