
<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : "Committer" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Committer</a>
		</div>
	</nav>

	<!-- for device -->
	<p class="navbar-text pull-right">
	<% if user_signed_in? %>
	<span class="glyphicon glyphicon-user"></span><strong><%= current_user.name %></strong>
	<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	<% end %>

	<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
	<% end %>

	<%= yield %>

</body>
</html>
